.top-header {
    display: flex;
    align-items: center;
    gap: 25%;
}

.top-header-text {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 25px;
}

.top-header-text a {
    color: red;
}

.top-header p {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

.top-header a {
    color: red;
    text-underline: red;
    margin-left: 5px;
}

.second-header {
    height: 500px;
    background-color: #FA8072;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.second-header h1 {
    text-align: center;
    margin-right: 15px;
}

.second-header h2 {
    text-align: center;
    margin-right: 15px;
}

.dropdown {
    display: inline-block;
    margin-top: 50px;
}

.dropdown button {
    background-color: transparent;
    border: none;
    font-size: 15px;
}

.dropdown button:hover,
.dropdown button:focus,
.dropdown button:active {
    background-color: transparent !important;
    box-shadow: none !important;
    outline: none !important;
    transform: none;
}

.dropdown .dropdown-menu {
    display: block;
    opacity: 0;
    transform: translateY(10px);
    visibility: hidden;
    transition: all 0.25s ease;
}

.dropdown.open .dropdown-menu,
.show > .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}


.loginbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d6efd;
    color: white;
    border: none;
    border-radius: 12px;
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    text-decoration: none; /* korrigiert "text-underline" */
    margin-top: 0; /* optional */
}

.loginbtn,
.loginbtn:hover,
.loginbtn:focus,
.loginbtn:active {
    color: white;
    text-decoration: none;
    box-shadow: none;
    text-underline: none;
}

.container_register_page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-control {
    width: 400px;
}

.summe {
    font-size: 30px;
}

.payment_success {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: greenyellow;
}

.back-to-home-btn {
    background-color: #0d6efd;
    color: white;
}

.back-to-home-btn,
.back-to-home-btn:hover,
.back-to-home-btn:focus,
.back-to-home-btn:active {
    color: white;
    text-decoration: none;
    box-shadow: none;
    text-underline: none;
}

#box {
    position: absolute;
    top: 100px;
    left: 100px;
    cursor: move;
    border: 1px solid black;
    z-index: 1000;
    background-color: #ffffff;
    width: 200px;
    height: 50px;
}

.drpdwn {
    display: flex;
    align-items: center;
}

.btn-nav {
    font-weight: bold;
    border: 1px solid red;
}

.btn-caret {
    font-size: 30px;
}

.plus {
    margin-bottom: 30px;
    font-size: 15px;
}

.minus {
    font-size: 15px;
}

.caret-wrapper {
    width: 30px;
    display: inline-block;
    margin-left: auto;
}

.smaller-symbol {
    font-size: 15px;
}

.bigger-symbol {
    font-size: 15px;
    display: none;
}

.smaller-symbol {
    display: inline;
}

.btn-nav.open .bigger-symbol {
    display: inline;
}

.btn-nav.open .smaller-symbol {
    display: none;
}


.icon-house {
    width: 100px;
    height: auto;
}
